<html>
	<head>
		<title>HCMUTE Map</title>
		<script  src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="  crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"  integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
  		crossorigin=""/>
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"  integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
  		crossorigin=""></script>
  		<link rel="stylesheet" type="text/css" href="/css/style.css">

  		<script type="text/javascript" src="/js/map.js"></script>
		
	</head>
	<body>
		<div id="container">
			<div id='menu'>
				<div>
					<button class="choosen">From : </button>
					<div class="sourceListContainer">
						<ul class="source list">
						<li>
							<div class="category">cate</div>
							<div class="sublist">
								<div class="list_smaller">
									<div class="category_smaller">??</div>
									<div class="sublist_smaller">
										<div >ababab</div>
									</div>
								</div>							
								<div>abc</div>
								<div>abc</div>
							</div>
						</li>
				
					</ul>
					<button id="deleteSrcBtn" title="Xóa điểm đầu" disabled>X</button>
					</div>
					
				</div>
				<div>
					<button id="destinationBtn">Chọn điểm đích</button> <input type="text" name="" value="abc" id="desInput" > <button id="deleteDesBtn" title="Xóa điểm đích" disabled>X</button>
				</div>
				<div id="submitDiv">
					<button id="submitBtn" disabled>Tìm đường</button>
				</div>
			</div>
			
			<button id="deleteBtn" title="Xóa đường đã tìm" disabled>X</button>
		
			<div id="map">
				
			</div>
		</div>	
	</body>
</html>