body{
	margin :0;
}

#map{
	width: 100%;
	height: 100%;
}
#container{
	position: relative;
	overflow: hidden;
}
#menu{
	padding: 20px;
	position: absolute;
	z-index: 800;
	margin-left: 10px;
	margin-top: 10px;
	background-color: rgba(255,255,255,.75);
}

#menu div{

	padding: 10px;
}

#submitBtn{
	width: 100%;
}
#deleteSrcBtn, #deleteDesBtn ,#deleteBtn{
	background-color: transparent;
	border: 0;
	cursor: pointer;
}
#deleteBtn{
	position: absolute;
	left: 450;
	z-index: 800;
	margin-top: 10px;
	
}
.selectBox{
	background: 'white';
	position: fixed;
	top: 10px;
	left: 50px;
}
.choosen{
	width: 315.28px;
	background-color: transparent;
	border: 0;
	cursor: pointer;

}
#deleteSrcBtn:focus,#deleteDesBtn:focus,#deleteBtn:focus,.choosen:focus{
	outline: none;
}
.choosen:hover{
	background-color: #ced4dd;
	border :2px solid #bcbfc4;
	border-radius: 2px;
}
#menu div div.listContainer{
	padding: 0;
}
ul{
	display: inline-block;
	float: left;
	width: 315.28px;
	padding-left: 0;
	list-style: none;
	border-radius: 2px;
	border: 1px solid gray;
	margin-top: 0;
	margin-right: 5px;
	overflow: hidden;
	overflow-y:auto;
	max-height:250px;
}
.list li{
	display: none;
}
ul li.open{
	display: block;
}
#menu div .category,#menu div .sublist,#menu div .sublist div{
	padding: 0;
	text-align: center;
}
#menu div.category.haveChild{
	background-color: #757e8e;
	cursor: pointer;
	color: white;
	font-size: 1.2em;
}
div.sublist div{
	border-bottom: 1px solid #757e8e;
}
.sublist  {
	display: none;
}
.sublist div{
	cursor: pointer;
	background-color: #929caf;
	color: white;

}
.sublist.open {
	display: block;
}

#menu div .sublist .sublist_smaller div{
	background-color: #bcc6d8;
	color: white;
	font-weight: normal;
	font-size: 0.9em;
}
div.sublist div.list_smaller{
	border: 0;
}
div.sublist_smaller{
	display: none;
}
div.sublist_smaller.open{
	display: block;
}
div.category{
	background-color: #bcc6d8;
	color: white;
	font-weight: normal;
	cursor: pointer;
	font-size: 1.2em;
}